@font-face {
  font-family: FontAwesome;
  src: url(/fonts/fontawesome.ttf);
}

@font-face {
  font-family: Lato-Bold;
  src: url(/fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: Lato-Regular;
  src: url(/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MrsSaintDelafield-Regular;
  src: url(/fonts/MrsSaintDelafield-Regular.ttf);
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'font Awesome';
  src:url('node_modules/font-awesome/fonts/FontAwesome.otf');
  src:url('node_modules/font-awesome/fonts/fontawesome-webfont.eot'),
  url('node_modules/font-awesome/fonts/fontawesome-webfont.svg'),
  url('node_modules/font-awesome/fonts/fontawesome-webfont.ttf'),
  url('node_modules/font-awesome/fonts/fontawesome-webfont.woff'),
  url('node_modules/font-awesome/fonts/fontawesome-webfont.woff2');
  font-weight: normal;
  font-style: normal;
}
