
.container-fluid-pic {
  background: url("../images/slider__img.png"), no-repeat;
  background-size: cover;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.row-pic {
  background: none;
  text-align: center;
  margin: 90px 0 125px 0;

  & img {
    margin-top: 108px;
  }
}

.row-pic__text-first {
  font-family: Montserrat-Bold, sans-serif;
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
  color: #ffffff !important;
  display: inline-block;
  padding: 10px 0 10px 15px;
  position: relative;
  box-sizing: border-box;

  &:before {
    content: "";
    position: absolute;
    border: 3px solid #ffb300;
    top: 5px;
    left: 0;
    bottom: 0;
    width: 25px;
    height: 25px;
    border-bottom: none;
    border-right: none;
  }

  &-color {
    color: #ffb300 ;
    font-family: Montserrat-Bold, sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 0 10px 0;
  }
}

.row-pic__text-second {
  color: #FFFFFF;
  font-family: Montserrat-Regular, sans-serif;
  font-size: 40px;
  padding: 10px 15px 10px 15px;
  display: inline-block;
  margin-top: 0;
  font-weight: 900;
  margin-bottom: 25px;
  letter-spacing: 10px;
  position: relative;
  box-sizing: border-box;

  &:before {
    content: "";
    position: absolute;
    border: 3px solid #ffb300;
    top: 40px;
    right: 6px;
    bottom: 0;
    width: 25px;
    height: 25px;
    border-top: none;
    border-left: none;
  }
}

.button-img {
  padding: 10px 35px 10px 35px;
  font-family: Montserrat-Bold, sans-serif;
  background: #ffb300;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none!important;
  font-weight: bold;

  &:hover,
  &:active {
    background: #FFC02E;
    color: #000000!important;
  }
}



// ---- FIRST SECTION ---- //
.first-section {

  &__part-one {
    margin-top: 80px;
    padding-left: 25px;
    position: relative;
    box-sizing: border-box;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      border: 4px solid #ffb300;
      width: 25px;
      height: 60px;
      border-bottom: none;
      border-right: none;
    }
  }

  &__sevices {
    margin: 50px 0 ;
  }
}

.part-one {
  &__name {
    margin: 0;
    padding: 10px 0 0 0;
    font-size: 30px;
    font-family: Montserrat-Bold,sans-serif;
    color: #212121;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__desc {
    font-size: 14px;
    font-family: Roboto-Regular, sans-serif;
    color: #666666;
  }
}

.first-section__part_two {
  margin-top: 80px;
}

.first-section__image {
  position: relative;
  box-sizing: border-box;
  height: 379px;
  background-image: url(../images/caterpillar.JPG);
  background-size: cover;


  &:before {
    content: "";
    position: absolute;
    border: 4px solid #ccc;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    margin: 10px;
  }
}

.first-section__row-second {
  width: 100%;
}

.row-second__services {
  position: relative;
  border: 2px solid #f3f3f3;
  margin-bottom: 34px;
}

.services__image {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #fafafa;

  &-way {
    vertical-align: middle;
  }

  &:hover {
    background: #120a0f;
    width: 100px;
    height: 100px;

  }
}

.services__about {
  margin: 20px 0 20px 0;
  position: absolute;
  top: 0;
  left: 110px;
}

.services__about-title {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-family: OpenSans-Bold, sans-serif;
  color: #272727;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}

.services__about-desc {
  font-size: 14px;
  font-family: OpenSans-Regular, sans-serif;
  color: #272727;
  line-height: 1.714;
}
// ---- /FIRST SECTION ---- //

// ----- DESCRIPTION ---- //
.distr {
  background-color: #120a0f;
  min-height: 190px;
  background-image: url("../images/tape.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__col {
    margin: 40px 0 0 0;

    &-bottom {
      margin: 40px 0;
    }

    &-num {
      color: #ffffff;
      text-align: center;
      position: relative;
      padding-bottom: 20px;
      font-size: 40px;
      font-family: Lato-Bold, sans-serif;
      font-weight: bold;

      &:before {
        content: "";
        position: absolute;
        border: 2px solid #ffb300;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        width: 30px;
        border-top: none;
        line-height: 0;
      }
    }

    &-description {
      color: #ffffff;
      text-align: center;
      margin-top: 20px;
      text-transform: uppercase;
      font-size: 18px;
      font-family: Montserrat-Regular, sans-serif;
    }
  }
}
// ----- /DESCRIPTION ---- //

// ----- SECOND-SECTION ---- //

.second-section {

  &__part-one {
    margin-top: 75px;
    padding-left: 25px;
    position: relative;
    box-sizing: border-box;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      border: 4px solid #ffb300;
      width:  25px;
      height: 60px;
      border-bottom: none;
      border-right: none;
    }
  }

  &__building {
    margin-top: 40px!important;
    position: relative;
  }
}
// ----- /SECOND-SECTION ---- //

// ---- FILTER ---- //
.filter {
  list-style: none;
  margin: 90px 0 20px 0;
}
.filter li {
  font-size: 16px;
  font-family: Roboto-Regular, sans-serif;
  color: #212121;
  display: inline;
  font-weight: 500;
  line-height: 1;
}
.filter li:after {
  display: inline-block;
  content: "|";
  padding: 0 13px 0 15px;
}
.filter li a {
  color: #212121;
}
.filter li a.active,
.filter li a:hover {
  color: #ffb300;
}
.filter li:last-child:after {
  display: none;
}
// ---- /FILTER ---- //

// ---- THUMBNAIL ---- //

.thumbnail {
  border-radius: 0;
  position: relative;
  box-shadow: 0 0 10px #ccc;
  min-height: 20%;
  margin-bottom: 0;

  & img {
    width: 100%;
  }
}

.caption {

  &__title {
    width: 75%;
    margin-top: 16px;
    font-size: 20px;
    font-family: Montserrat-Bold, sans-serif;
    color: #272727;
    font-weight: bold;
    line-height: 1.1;
  }

  &__desc {
    font-size: 14px;
    font-family: Roboto-Regular, sans-serif;
    color: #666666;
    line-height: 1.357;
  }

  &__left-element {
    position: absolute;
    right: -1px;
    background: #ffb300;
    padding: 10px;
    line-height: 1;
    width: 105px;
    margin-top: 15px;
  }

  &__name {
    margin: 0;
    font-size: 12px;
    font-family: Montserrat-Bold, sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

  }

}


.building__button {
  text-align: center;
  padding: 40px 0;

  &-positioning {
    display:-moz-inline-box;
    display:inline-block;
    vertical-align:middle;
    zoom:1;
    //display:inline;
    padding: 10px 30px;
    background: #ffb300;
    text-transform: uppercase;
    color: #000000;
    font-family: Montserrat-Bold, sans-serif;
    text-decoration: none!important;
    font-weight: bold;
    border: 0;

    &:hover, &:active {
      padding: 10px 30px;
      background: #FFC02E;
      color: #000000!important;
    }
  }
}

.work-line {
  background: #120a0f;
  min-height: 190px;
  position: relative;

  &__title  {
    margin-top: 60px;
    font-size: 30px;
    font-family: Montserrat-Regular, sans-serif;
    color: #ffffff;
    line-height: 0.733;
  }

  &__desc {
    margin-top: 20px;
    font-size: 18px;
    font-family: Roboto-Medium, sans-serif;
    color: #ffffff;
    line-height: 1.222;

    & span {
      color: #ffb300;
    }
  }
  &__button {
    text-align: center;
    height: 190px;

    &-positioning {
      display:-moz-inline-box;
      display:inline-block;
      vertical-align:middle;
      zoom:1;
      //display:inline;
      padding: 10px 30px 10px 30px;
      background: #ffb300;
      text-transform: uppercase;
      font-family: Montserrat-Bold, sans-serif;
      color: #000000;
      text-decoration: none!important;
      font-weight: bold;
      border: 0;
      margin: 30px 0;
fir
      &:hover, &:active {
        padding: 10px 30px 10px 30px;
        background: #FFC02E;
        color: #000000!important;
      }
    }

    &-helper {
      display:-moz-inline-box;
      display:inline-block;
      vertical-align:middle;
      height:100%;
      width:0;
      zoom:1;
      //display:inline;
    }
  }
}
// ---- /THUMBNAIL ---- //

// ---- THIRD-SECTION ---- //
.third-section{
  margin-top: 60px;

  position: relative;

  &__poster {
    text-align: center;


    & img {
      width: 100%;
    }

    & p {
      position: absolute;
      top: 50%;
      left: 20%;
      font-size: 30px;
      font-family: Montserrat-Bold, sans-serif;
      color: #ffb300;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

#validForm {
  margin: 0;

  & input {
    height: 45px;
  }
  & textarea {
    padding-top: 19px;
    height: 125px;
    resize: none;
  }

  & input, textarea {
    width: 95%;
    font-size: 16px;
    font-family: Roboto-Regular, sans-serif;
    color: rgb(153, 153, 153);
    line-height: 1.5;
    padding-left: 20px;
    margin-top: 20px;
    margin-left: 10px;
    border: solid 1px #f1f1f1;
  }

}

#bugdet {
  margin-left: 0!important;
  width: 93%!important;
}


.validForm__button {
  text-align: center;

  &-left, &-right {
    padding: 10px 30px 10px 30px;
    text-transform: uppercase;
    color: #000000;
    font-family: Montserrat-Bold, sans-serif;
    text-decoration: none!important;
    font-weight: bold;
    border: 0;
    margin-top: 30px;

    &:hover, &:active {
      padding: 10px 30px 10px 30px;
      background: #FFC02E;
      color: #000000!important;
    }
  }
}

.validForm {

  &__row {
    padding-left: 0!important;
    padding-right: 0!important;
  }

  &__button-left {
    background: #ffb300;
  }

  &__button-right {
    margin-bottom: 40px;
    border: solid 1px #f1f1f1 ;
    background: #ffffff;
  }
}

#validForm {
  background: #fafafa;
}

// ---- /THIRD-SECTION ---- //

// ---- FOUR-SECTION ---- //
.four-section {
  margin-bottom: 100px;
  &__news {
    margin-top: 75px;
    padding-left: 25px;
    position: relative;
    box-sizing: border-box;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      border: 4px solid #ffb300;
      width:  25px;
      height: 60px;
      border-bottom: none;
      border-right: none;
    }
  }
}

.news {

  &__name {
    margin: 0;
    padding: 10px 0 0 0;
    font-size: 30px;
    font-family: Montserrat-Bold, sans-serif;
    color: #212121;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__desc {
    font-size: 14px;
    font-family: Roboto-Regular, sans-serif;
    color: #666666;
  }
}

.news {
  &-block {
    margin-top: 35px;

    &-down {
      margin-top: 30px;
    }

    &__date {
      float: left;
      width: 16.7%;
      padding: 16px 0 17px 0;
      border: solid 1px #ececec;
      background: #fafafa;
      height: 90px;

      &:hover {
        background: #ffb300;
        border: solid 1px #f4f4f4;

        & .day {
          color: #f4f4f4;
        }

        & .month {
          color: #f4f4f4;
        }
      }
    }

    &__filling {
      width: 83.3%;
      margin-left: 60px;
      padding: 20px 0 20px 18px;
      border: solid 1px #f4f4f4;
      border-left: none;
      background: #fafafa;
      height: 90px;
    }
  }

  &-blog {
    margin-top: 35px;
    position: relative;
    height: 330px;
    padding-left: 25px;
    background-image: url(../images/sketch.jpg);
    background-size:cover;

    &:before {
      position: absolute;
      content: "";
      border: solid 5px #f1f1f1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 100%;
      margin: 20px;
    }

    & p {
      line-height: 330px;
      font-size: 25px;
      font-family: Montserrat-Bold, sans-serif;
      color: #ffb300;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
  }
}


.day,
.month {
  text-align: center;
  font-family: Montserrat-Regular, sans-serif;
  color: #ffb300;
  text-transform: uppercase;
  font-weight: 700;
}

.day {
  font-size: 26px;
  margin: 0;

}

.month {
  font-size: 14px;
}

.title {
  font-size: 18px;
  font-family: Montserrat-Bold, sans-serif;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.desc {
  padding-top: 10px;
  font-size: 14px;
  font-family: Montserrat-Regular, sans-serif;
  color: #ffb300;
  font-weight: bold;
}

// ---- /FOUR-SECTION ---- //

@media screen and (min-width: 768px) and (max-width: 1240px) {
  .sb-search.sb-search-open,
  .no-js .sb-search {
    width: 30%;
  }

  .navbar-collapse {
    padding: 0;
  }

  .menu__button {
    display: none;
  }

  .navbar {
    width: 90%;
    left: 5%;
  }

  .row-second__image {
    &:before {
      width: 95%;
    }
  }
  .second-section__part-one {
    margin-bottom: 40px;
  }
  .second-section__part-two {
    position: absolute;
    top: 1840px;
    left: 375px;
  }

  .third-section__poster {

    & p {
      left: 240px;
    }
  }

  .news-block {
    &__date {
      width: 50px;
    }
    &__filling {
      margin-left: 49px;
      padding-top: 10px;
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  //.header {
  //  height: 195px;
  //}

  .sb-search.sb-search-open,
  .no-js .sb-search {
    width: 80%;
  }

  .menu__button {
    display: none;
  }

  .navbar {
    width: 100%;
    top: 226px;
    left: 0;

    &-collapse {
      background: #2B2F38;
      color: #ffffff;
    }

    &-header {
      padding: 0;
    }

    &-nav {
      margin: 0 -15px;
      & li a {
        color: #ffffff!important;
        border: 1px solid #000000;
      }
    }
  }

  .container-fluid-pic {
    top: 265px;
  }


  .row-second__image {
    &:before {
      width: 96%;
    }

  }

  .row-second__services {
    margin-top: 34px;
    margin-bottom: 0;
  }

  .news-block__filling {
    width: 82%;
    margin-left: 46px;
  }

}

@media screen and (min-width: 200px) and (max-width: 360px) {

  .sb-search.sb-search-open,
  .no-js .sb-search {
    width: 70%;
  }

  .logo__link {

    & img {
      width: 150px;
    }
  }

  .menu__button {
    display: none;
  }

  .location__img {
    margin-top: 37px;
  }

  .contact__location {
    margin-top: 2px;
  }

  .location__value {
    top: 35px;
  }

  .navbar {
    top: 208px;
    width: 100%;
    left: 0;

    &-header {
      padding: 0;
    }

    &-collapse {
      background: #2B2F38;
      color: #ffffff;
    }

    &-nav {
      margin: 0 -15px;
      & li a {
        color: #ffffff!important;
        border: 1px solid #000000;
      }
    }
  }
  .container-fluid-pic {
    top: 255px;
  }

  .row-pic__text-first {
    font-size: 50px;

    &-color {
      font-size: 50px;
    }
  }

  .row-pic__text-second {
    font-size: 30px;

    &:before {
      top: 60px;
    }
  }

  .row-second__image {
    &:before {
      width: 93%;
    }
  }

  .row-second__services {
    min-height: 145px;
    margin: 16px 0;
  }

  .services__image {
    height: 145px;
    line-height: 145px;

    &:hover {
      height: 145px;
    }
  }

  .filter {
    margin-top: 20px;
    padding-left: 10px!important;
  }

  .second-section__part-one {
    margin-top: 35px;
  }


  .work-line__title {
    margin-top: 40px;
  }

  .third-section__poster {

    & p {
      top: 40%;
      left: 7%;
      font-size: 25px;
    }
  }

  .news-block__filling {
    width: 82%;
    margin-left: 46px;
  }
}

